<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @time_availability.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @time_availability.end_time %>
</p>

<%= link_to 'Edit', edit_time_availability_path(@time_availability) %> |
<%= link_to 'Back', time_availabilities_path %>
